@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend></legend>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>


