
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/Scripts/Modules/app.js"></script>
}