@using Exercicio10Cep.ViewModels;
@model BairroViewModel
@{
    ViewBag.Title = "Bairro";
}

<h2>Listagem de Bairro</h2>

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>

<div id="pesquisa">
    @Html.Partial("_Pesquisa", Model)
</div>
