

@using Exercicio10Cep.ViewModels;
@model PaisViewModel
@{
    ViewBag.Title = "Pais";
}

<h2>Listagem de Pais</h2>

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>

@Html.Partial("_ParametrosPesquisa", Model)


<div id="pesquisa">
    @Html.Partial("_Pesquisa", Model)
</div>

