@model IEnumerable<CodingCraft.Common.ViewModels.MovimentacaoEntrada.MovimentacaoProdutoViewModel>

<div class="actions">
    <a class="btn btn-default btn-sm" id="adicionar-novo-produto">
        Novo produto
    </a>    
</div>

<div id="area-produtos">
    @if (Model != null)
    {
        foreach (var produto in Model)
        {
            @Html.Partial("_ProdutoLinha", produto);
        }
    }
</div>
