
@model GaveteiroLanches.Web.Models.Fornecedor


@{

	if (Model.FornecedorId > 0)
	    {
        ViewBag.Title = "Edição de Fornecedor - " + Model.Descricao;
    }
    else
    {
        ViewBag.Title = "Cadastro de Fornecedor";
    }

}

<h2>CriarOuEditar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fornecedor</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


